<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="amenagements" type="java.util.List<org.esupportail.esupagape.entity.Amenagement>"*/-->
    <head th:replace="~{fragments/head :: head}"></head>
    <body>
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="d-inline-flex">
            <div class="agape-content agape-content-side">
               Amenagement show
             
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: black}"></footer>
    </body>
</html>