<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="aideHumaine" type="org.esupportail.esupagape.entity.AideHumaine"*/-->
    <div th:if="${currentYear == currentDossier.year}" th:fragment="create" class="modal fade" id="add-aide-humaine-modal" tabindex="-1" aria-labelledby="add-aide-humaine-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-aide-humaine-label">Ajouter une aide humaine</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <form th:method="post" th:action="@{/dossiers/{id}/aides/create-aide-humaine(id=${currentDossier.id})}" th:object="${aideHumaine}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label th:for="startDate" class="form-label"><span class="star">*</span>  Date de debut</label>
                            <input id="startDate" type="datetime-local" class="form-control" th:name="startDate" th:value="${now}" required>
                            <p th:if="${#fields.hasErrors('startDate')}" th:errorclass="error" th:errors="*{startDate}"></p>
                        </div>
                        <div class="mb-3">
                            <label th:for="fonctionAidants" class="form-label"><span class="star">*</span>  Fonction</label>
                            <select id="fonctionAidants" class="mb-3 agape-slim-select" name="fonctionAidants" th:field="*{fonctionAidants}" size="1" multiple required>
                                <th:block th:each="fonctionAidant : ${fonctionAidants}">
                                    <option th:id="${fonctionAidant}" th:value="${fonctionAidant}" th:text="#{'aides.fonctionAidant.' +${fonctionAidant}}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNumEtu" aria-expanded="true" aria-controls="collapseNumEtu">
                                        Saisie de l’aidant par numéro d’étudiant
                                    </button>
                                </h2>
                                <div id="collapseNumEtu" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="mb-3">
                                            <label th:for="numEtuAidant" class="form-label">Numéro d’étudiant</label>
                                            <input id="numEtuAidant" type="text" class="form-control" th:field="*{numEtuAidant}">
                                            <p th:if="${#fields.hasErrors('numEtuAidant')}" th:errorclass="error" th:errors="*{numEtuAidant}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseManual"
                                            aria-expanded="false"
                                            aria-controls="collapseManual">
                                        Saisie manuelle de l’aidant
                                    </button>
                                </h2>
                                <div id="collapseManual" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <h4>Informations de l’aidant</h4>
                                        <div class="mb-3">
                                            <label th:for="nameAidant" class="form-label">Nom</label>
                                            <input id="nameAidant" type="text" class="form-control" th:field="*{nameAidant}">
                                            <p th:if="${#fields.hasErrors('nameAidant')}" th:errorclass="error" th:errors="*{nameAidant}"></p>
                                        </div>
                                        <div class="mb-3">
                                            <label th:for="firstNameAidant" class="form-label">Prénom</label>
                                            <input id="firstNameAidant" type="text" class="form-control" th:field="*{firstNameAidant}">
                                            <p th:if="${#fields.hasErrors('firstNameAidant')}" th:errorclass="error" th:errors="*{firstNameAidant}"></p>
                                        </div>
                                        <div class="mb-3">
                                            <label th:for="dateOfBirthAidant" class="form-label">Date de naissance</label>
                                            <input id="dateOfBirthAidant" type="date" class="form-control" th:name="dateOfBirthAidant">
                                            <p th:if="${#fields.hasErrors('dateOfBirthAidant')}" th:errorclass="error" th:errors="*{dateOfBirthAidant}"></p>
                                        </div>
                                        <div class="mb-3">
                                            <label th:for="emailAidant" class="form-label">Email</label>
                                            <input id="emailAidant" type="email" class="form-control" th:field="*{emailAidant}">
                                            <p th:if="${#fields.hasErrors('emailAidant')}" th:errorclass="error" th:errors="*{emailAidant}"></p>
                                        </div>
                                        <div class="mb-3">
                                            <label th:for="phoneAidant" class="form-label">Téléphone</label>
                                            <input id="phoneAidant" type="tel" class="form-control" th:field="*{phoneAidant}">
                                            <p th:if="${#fields.hasErrors('phoneAidant')}" th:errorclass="error" th:errors="*{phoneAidant}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning" style="margin: 5px;" role="alert">
                        <span class="star">*</span> Ces champs sont obligatoires. Merci de les renseigner avant d'enregistrer.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-success">Enregister</button>
                    </div>
                    <script th:if="${#fields.hasAnyErrors()}">
                        document.getElementById('add-aide-humaine-modal').classList.toggle("fade");
                        new bootstrap.Modal(document.getElementById('add-aide-humaine-modal')).show();
                        document.getElementById('add-aide-humaine-modal').classList.toggle("fade");
                    </script>
                </form>
            </div>
        </div>
    </div>
</html>