<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="aideMaterielle" type="org.esupportail.esupagape.entity.AideMaterielle"*/-->
<div th:if="${currentYear == currentDossier.year}" th:fragment="create" class="modal fade" id="add-aide-materielle-modal" tabindex="-1" aria-labelledby="add-aide-materielle-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-aide-materielle-label">Ajouter une aide matérielle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <form th:method="post" th:action="@{/dossiers/{id}/aides/create-aide-materiel(id=${currentDossier.id})}" th:object="${aideMaterielle}">
                <div class="modal-body">
                    <label class="form-label"><span class="star">*</span> Type d’aide matérielle</label>
                    <th:block th:each="typeAideMaterielle : ${typeAideMaterielles}">
                        <div class="form-check">
                            <input th:id="${typeAideMaterielle}" th:checked="${aideMaterielle.typeAideMaterielle == typeAideMaterielle}" class="form-check-input" type="radio" name="typeAideMaterielle" th:value="${typeAideMaterielle}" required>
                            <label th:for="${typeAideMaterielle}" class="form-check-label" th:text="#{'aides.typeAideMaterielle.' + ${typeAideMaterielle}}"></label>
                        </div>
                    </th:block>
                    <div class="mb-3 mt-3">
                        <label th:for="start-date" class="form-label"><span class="star">*</span> Date de debut</label>
                        <input id="start-date" type="datetime-local" class="form-control" th:name="startDate" th:value="${now}" required>
                        <p th:if="${#fields.hasErrors('startDate')}" th:errorclass="error" th:errors="*{startDate}"></p>
                    </div>
                    <div class="mb-3 mt-3">
                        <label th:for="end-date" class="form-label"><span class="star">*</span> Date de fin</label>
                        <input id="end-date" type="datetime-local" class="form-control" th:name="endDate" th:value="${now}" required>
                        <p th:if="${#fields.hasErrors('endDate')}" th:errorclass="error" th:errors="*{endDate}"></p>
                    </div>
                    <div class="mb-3 mt-3">
                        <label th:for="cost" class="form-label"><span class="star">*</span> Coût en euros</label>
                        <input id="cost" type="number" min="0" class="form-control" th:field="*{cost}" required>
                        <p th:if="${#fields.hasErrors('cost')}" th:errorclass="error" th:errors="*{cost}"></p>
                    </div>
                    <div class="mb-3 mt-3">
                        <label th:for="comment" class="form-label">Commentaire</label>
                        <textarea id="comment" class="form-control" th:field="*{comment}"></textarea>
                        <p th:if="${#fields.hasErrors('comment')}" th:errorclass="error" th:errors="*{comment}"></p>
                    </div>
                </div>
                <div class="alert alert-warning" style="margin: 5px;" role="alert">
                    <span class="star">*</span> Ces champs sont obligatoires. Merci de les renseigner avant d'enregistrer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Enregister</button>
                </div>
                <script th:if="${#fields.hasAnyErrors()}">
                    document.getElementById('add-aide-materielle-modal').classList.toggle("fade");
                    new bootstrap.Modal(document.getElementById('add-aide-materielle-modal')).show();
                    document.getElementById('add-aide-materielle-modal').classList.toggle("fade");
                </script>
            </form>
        </div>
    </div>
</div>
</html>