<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="googlebot" content="noindex">
	<meta name="robots" content="noindex">
	<base href="/">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/slim-select/dist/slimselect.css}" />
	<link rel="stylesheet" th:href="${'/css/agape.css?' + versionApp}">

	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/webjars/slim-select/dist/slimselect.min.js}"></script>
	<script th:src="@{/webjars/chart.js/dist/chart.umd.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
	<script th:src="${'js/agape.js?' + versionApp}"></script>

	<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}">
	<title th:text="#{application.title}"></title>
</head>
</html>
