<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="dossierFilter" type="org.esupportail.esupagape.dtos.forms.DossierFilter"*/-->
    <div th:fragment="side-filters" id="side-filter" class="agape-side-closed bg-light position-sticky">
        <div id="submit-filter" class="float-buttons float-buttons-filter d-none">
            <button title="Actualiser les filtres" class="btn btn-success me-3" onclick="document.getElementById('filter-form').submit();">
                <i class="fa-solid fa-filter"></i>
            </button>
        </div>
        <div class="d-inline-flex p-2">
            <button id="side-filter-button" class="btn btn-sm btn-outline-dark me-1" title="Filtres avancés"><i class="fa fa-filter"></i></button>
            <span id="side-filter-title" class="fs-6 card bg-primary text-white ps-3 d-none" style="width: 300px">Filtres avancés</span>
        </div>
        <form id="filter-form" th:action="@{/dossiers}" th:method="get" th:object="${dossierFilter}" class="ms-1 me-1 d-none">
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line">Année universitaire</label>
                <select class="form-select form-select-sm agape-slim-select-sm" id="year" name="year" multiple>
                    <th:block th:each="year : ${years}">
                        <option th:selected="${(year.number == currentYear && dossierFilter.year == null ) || (dossierFilter.year != null && dossierFilter.year.contains(year.number))}" th:value="${year.number}" th:text="${year.number} + ' - ' + ${year.number + 1} "></option>
                    </th:block>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Statut dossier</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{statusDossier}" multiple>
                    <option th:each="enumStatusDossier: ${statusDossiers}" th:value="${enumStatusDossier}" th:text="#{'dossier.statusDossier.' + ${enumStatusDossier}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line;">Statut dossier<br>aménagement</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{statusDossierAmenagement}" multiple>
                    <option th:each="enumStatusDossierAmenagement: ${statusDossierAmenagements}"
                            th:value="${enumStatusDossierAmenagement}"
                            th:text="#{'dossier.statusDossierAmenagement.' + ${enumStatusDossierAmenagement}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line">Enquête terminée</label>
                <select class="form-select form-select-sm" th:field="*{finished}">
                    <option value="">Choisir</option>
                    <option value="true">Oui</option>
                    <option value="false">Non</option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Classification</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{classifications}" multiple>
                    <option th:each="classification : ${classifications}" th:value="${classification}" th:text="#{'dossier.classification.' +${classification}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Type individu</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{type}" multiple>
                    <option th:each="enumType : ${typeIndividuList}" th:value="${enumType}" th:text="#{'dossier.typeIndividu.' + ${enumType}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Dossier MDPH</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{mdph}" multiple>
                    <option th:each="mdph : ${mdphs}" th:value="${mdph}" th:text="#{'dossier.mdph.' +${mdph}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Suivi handisup</label>
                <select class="form-select form-select-sm" th:field="*{suiviHandisup}">
                    <option value="">Choisir</option>
                    <option value="true">Oui</option>
                    <option value="false">Non</option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Composante</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{composante}" multiple>
                    <option th:each="composante: ${composantes}" th:if="${composante.cod != null && !composante.cod.isEmpty()}" th:value="${composante.cod}" th:text="${composante.libelle}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Discipline</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{secteurDisciplinaire}" multiple>
                    <option th:each="secteurDisciplinaire : ${secteurDisciplinaires}"
                            th:if="${secteurDisciplinaire != null && !secteurDisciplinaire.isEmpty()}"
                            th:value="${secteurDisciplinaire}"
                            th:text="${secteurDisciplinaire}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Formation</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{libelleFormation}" multiple>
                    <option th:each="libelleFormation : ${libelleFormations}"
                            th:if="${libelleFormation != null && !libelleFormation.isEmpty()}"
                            th:value="${libelleFormation}"
                            th:text="${libelleFormation}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Niveau</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{niveauEtudes}" multiple>
                    <option th:each="niveauEtudes : ${niveauEtudes}" th:if="${niveauEtudes != null && !niveauEtudes.isEmpty()}" th:value="${niveauEtudes}" th:text="${niveauEtudes}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line">Type formation</label>
                <select th:field="*{typFrmn}" class="form-select form-select-sm agape-slim-select-sm" multiple>
                    <option th:each="typeFormation : ${typFrmns}" th:value="${typeFormation}" th:text="#{'enquete.typFrmn.' +${typeFormation}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line">Modalité formation</label>
                <select th:field="*{modFrmn}" type="text" class="form-select form-select-sm agape-slim-select-sm" multiple>
                    <option th:each="modeFormation : ${modFrmns}" th:if="${modeFormation != T(org.esupportail.esupagape.entity.enums.enquete.ModFrmn).A}" th:value="${modeFormation}" th:text="#{'enquete.modFrmn.' +${modeFormation}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Résultat</label>
                <select class="form-select form-select-sm" th:field="*{resultatTotal}">
                    <option value="">Choisir</option>
                    <option value="Admis">Admis</option>
                    <option value="Ajourné">Ajourné</option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Genre</label>
                <select th:field="*{gender}" class="form-select form-select-sm agape-slim-select-sm" multiple>
                    <option th:each="gender : ${genders}" th:text="#{'individu.gender.' +${gender}}" th:value="${gender}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line">Année de naissance</label>
                <select th:field="*{yearOfBirth}" class="form-select form-select-sm agape-slim-select-sm" multiple>
                    <option th:each="yearOfBirth : ${yearOfBirths}" th:if="${yearOfBirth != null}" th:value="${yearOfBirth}" th:text="${yearOfBirth}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6">Code postal</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{fixCP}" multiple>
                    <option th:each="fixCP : ${fixCPs}" th:if="${fixCP != null && !fixCP.isEmpty()}" th:value="${fixCP}" th:text="${fixCP}"></option>
                </select>
            </div>

            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line"> Type d'aides matérielles</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{typeAideMaterielle}" multiple>
                    <option th:each="typeAideMaterielle : ${typeAideMaterielles}"
                            th:if="${typeAideMaterielle != null}"
                            th:value="${typeAideMaterielle}"
                            th:text="#{'aides.typeAideMaterielle.' +${typeAideMaterielle}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line">Fonctions de l'aidant</label>
                <select class="form-select form-select-sm agape-slim-select-sm" th:field="*{fonctionAidants}" multiple>
                    <option th:each="fonctionAidant : ${fonctionAidants}"
                            th:if="${fonctionAidant != null}"
                            th:value="${fonctionAidant}"
                            th:text="#{'aides.fonctionAidant.' +${fonctionAidant}}"></option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-1">
                <label class="input-group-text col-6" style="white-space: pre-line">Nouveau dossier</label>
                <select class="form-select form-select-sm" th:field="*{newDossier}">
                    <option value="">Choisir</option>
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
            <div style="height: 100px;">
            </div>
        </form>
        <script th:if="${dossierFilter.year != null}">
            document.addEventListener("DOMContentLoaded", function(event) {
                let sideFilterButton = document.getElementById("side-filter-button");
                sideFilterButton.click();
            });
        </script>
    </div>
</html>
