<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="tabs-content">
        <nav class="bg-white">
            <ul class="nav nav-underline p-2" id="nav-tab" role="tablist">
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_MEDECIN') or hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                    <a class="nav-link" th:href="@{/dossiers/{id}(id=${currentDossier.id})}" th:classappend="${active == 'dossier' ? 'active' : ''}">Dossier</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                    <a class="nav-link" th:href="@{/dossiers/{id}/entretiens(id=${currentDossier.id})}" th:classappend="${active == 'entretiens' ? 'active' :' '}"> Entretiens
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_MEDECIN') or hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                    <a class="nav-link" th:href="@{/dossiers/{id}/aides(id=${currentDossier.id})}" th:classappend="${active == 'aides' ? 'active' :' '}"> Aides
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                    <a class="nav-link"  th:href="@{/dossiers/{id}/enquete(id=${currentDossier.id})}" th:classappend="${active == 'enquete' ? 'active' :' '}"> Enquête</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_MEDECIN') or hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                    <a class="nav-link" th:href="@{/dossiers/{id}/amenagements(id=${currentDossier.id})}" th:classappend="${active == 'amenagements' ? 'active' : ''}"> Aménagements d’examen</a>
                </li>
            </ul>
        </nav>
    </div>
</html>
