<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demande signée</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table width="90%" border="0" style="width: 90%;" bgcolor="#ffffff">
    <tr>
        <td width="100%" style="background-color:#343a40; border-bottom:1px solid rgba(0, 0, 0, 0.125); margin-bottom:0; padding:10px; width: 100%;" bgcolor="#343a40">
            <img height="40" class="mx-auto float-start" src="cid:logo" style="border-style:none; vertical-align:middle; float:left; margin-right:auto; margin-left:auto" valign="middle" align="left">
            <img height="40" class="mx-auto float-end" src="cid:logo-univ" style="border-style:none; vertical-align:middle; float:right; margin-right:auto; margin-left:auto" valign="middle" align="right">
        </td>
    </tr>
    <tr>
        <td style="width:100%; padding:10px;background-color:#f8f9fa;">
            <p style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;">Bonjour</p>
            <p style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;">L’envoi de mail fonctionne</p>
            <p style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;">Cordialement.</p>
            </p>
        </td>
    </tr>
    <tr>
        <td style="width:100%; background-color:#6c757d; border-top:1px solid rgba(0, 0, 0, 0.125); padding:10px;  -ms-flex-pack:center; justify-content:center; text-align:center; font-size:14px;" bgcolor="#6c757d">
            <span class="text-white text-center" style="text-align:center; color:#fff" align="center" th:text="#{application.footer}"></span>
        </td>
    </tr>
</table>
</body>
</html>