<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="entretiens" type="java.util.List<org.esupportail.esupagape.entity.Entretien>"*/-->
    <!--/*@thymesVar id="personLdap" type="org.esupportail.esupagape.service.ldap.PersonLdap"*/-->
    <head th:replace="~{fragments/head :: head}"></head>
    <body>
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="d-inline-flex">
            <div class="float-buttons">
                <button th:if="${currentYear == currentDossier.year}" title="Ajouter un entretien" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-entretien-modal" type="button"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div th:replace="~{fragments/side :: side}"></div>
            <div class="agape-content agape-content-side">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{'/dossiers/' + ${currentDossier.id}}">Dossier <span th:text="${currentDossier.individu.firstName + ' ' + currentDossier.individu.name}"></span></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Liste des entretiens</li>
                    </ol>
                </nav>
                <div th:replace="~{fragments/tabs-years :: tabs-years}"></div>
                <div th:replace="~{fragments/tabs-content :: tabs-content(active='entretiens')}"></div>
                <div class="agape-tab-content bg-white p-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped table-responsive mx-auto mt-1">
                                <thead class="mt-2 mb-2 table-dark">
                                    <tr>
                                        <th>
                                            <a class="sorted link-light" sd:pagination-sort="date">Date</a>
                                        </th>
                                        <th>
                                            <a class="sorted link-light">Type</a>
                                        </th>
                                        <th>
                                            <a class="sorted link-light">Interlocuteur</a>
                                        </th>
                                        <th class="d-none d-lg-table-cell d-xl-table-cell">
                                            <a class="sorted link-light">Compte rendu</a>
                                        </th>
                                        <th style="width: 200px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="entretien : ${entretiens}" class="align-middle">
                                        <td th:text="${#temporals.format(entretien.date, 'dd/MM/yyyy HH:mm')}"></td>
                                        <td th:utext="${entretien.typeContact != null} ? #{'entretien.typeContact.' + ${entretien.typeContact}} : 'Non renseigné'"></td>
                                        <td th:utext="${entretien.interlocuteur}"></td>
                                        <td class="text-break text-truncate d-none d-lg-table-cell d-xl-table-cell align-middle" style="max-width: 150px;" th:text="${entretien.compteRendu}"></td>
                                        <td>
                                            <ul class="list-group list-group-horizontal">
                                                <li class="list-group-item border-0 p-1 bg-transparent">
                                                    <a class="btn btn-warning" title="Modifier l'entretien"
                                                            th:href="@{/dossiers/{id}/entretiens/{entretienId}/update(id=${currentDossier.id},entretienId=${entretien.id})}"
                                                            role="button"><i class="fa-solid fa-pen"></i>
                                                    </a>
                                                </li>
                                                <li class="list-group-item border-0 p-1 bg-transparent">
                                                    <a data-bs-toggle="modal" title="Supprimer l'entretien" href="#" data-bs-target="#modal-warning" th:attr="data-bs-target='#modal-warning'+${entretien.id}" class="btn btn-danger">
                                                        <i class="fa-solid fa-trash"></i></a>
                                                    <div class="modal modal-warning fade in" th:id="modal-warning+${entretien.id}">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <form th:action="@{/dossiers/{id}/entretiens/{entretienId}/delete(id=${currentDossier.id}, entretienId=${entretien.id})}"
                                                                        th:method="delete">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title fs-5" th:id="'delete-entretien-label' + ${entretien.id}">
                                                                            Suppression d'un entretien</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="alert alert-danger text-center">Confirmez-vous la suppression de cet entretien?
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">
                                                                            Annuler
                                                                        </button>
                                                                        <button type="submit" class="btn btn-outline pull-left btn-danger">
                                                                            Supprimer
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div th:replace="~{entretiens/modal-create :: create}"></div>
                            <section th:if="${#lists.isEmpty(entretiens.content)}">
                                <div class="col-lg-12 text-center">
                                    <div sd:pagination-summary="">info</div>
                                </div>
                            </section>
                            <nav th:unless="${#lists.isEmpty(entretiens?.content)}" id="pagination" aria-label="pagination">
                                <div class="col-lg-12 text-center">
                                    <div sd:pagination-summary="">info</div>
                                </div>
                                <ul class="d-print-none pagination justify-content-center " sd:pagination="full"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: black}"></footer>
        <div th:replace="~{fragments/flash :: flash}"></div>
    </body>
</html>