<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="entretiens" type="java.util.List<org.esupportail.esupagape.entity.Entretien>"*/-->
    <!--/*@thymesVar id="personLdap" type="org.esupportail.esupagape.service.ldap.PersonLdap"*/-->
    <div th:fragment="create" class="modal fade" id="add-entretien-modal" tabindex="-1" aria-labelledby="add-entretien-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-entretien-label">Ajouter un nouvel entretien</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <form th:method="post" th:action="@{/dossiers/{id}/entretiens/create(id=${currentDossier.id})}" th:object="${entretien}">
                    <div class="modal-body mb-3 mt-3">
                        <label th:for="date" class="form-label"><span class="star">*</span> Date de l’entretien</label>
                        <input id="date" type="datetime-local" class="form-control" th:name="date" th:value="${now}" required>
                        <p th:if="${#fields.hasErrors('date')}" th:errorclass="error" th:errors="*{date}"></p>
                    </div>
                    <div class="ms-3">
                        <label class="form-label form-check-label" th:for="typeContact"><span class="star">*</span> Type Contact</label>
                        <div>
                            <th:block th:each="enumTypeContact : ${typeContacts}">
                                <div>
                                    <input th:id="${enumTypeContact}"
                                            class="form-check-input"
                                            name="typeContact"
                                            size="1"
                                            type="radio"
                                            th:value="${enumTypeContact}"
                                            required>
                                    <label th:for="${enumTypeContact}" th:text="#{'entretien.typeContact.' + ${enumTypeContact}}"></label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('typeContact')}" th:errorclass="error" th:errors="*{typeContact}"></p>
                    <div class="modal-body mt-3 mb-3">
                        <label for="displayName" class="form-label">Interlocuteur</label>
                        <input type="text" class="form-control" id="displayName" th:value="${personLdap.displayName}" name="displayName">
                    </div>
                    <div class="modal-body mt-3 mb-3">
                        <label for="compteRendu" class="form-label"><span class="star">*</span> Compte rendu</label>
                        <textarea class="form-control" id="compteRendu" th:field="*{compteRendu}" th:value="${entretien.compteRendu}" required></textarea>
                        <p th:if="${#fields.hasErrors('compteRendu')}" th:errorclass="error" th:errors="*{compteRendu}"></p>
                    </div>
                    <div class="alert alert-warning" style="margin: 5px;" role="alert">
                        <span class="star">*</span> Ces champs sont obligatoires. Merci de les renseigner avant d'enregistrer.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                    <script th:if="${#fields.hasAnyErrors()}">
                        document.getElementById('add-entretien-modal').classList.toggle("fade");
                        new bootstrap.Modal(document.getElementById('add-entretien-modal')).show();
                        document.getElementById('add-entretien-modal').classList.toggle("fade");
                    </script>
                </form>
            </div>
        </div>
    </div>
</html>