<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="entretien" type="org.esupportail.esupagape.entity.Entretien"*/-->
    <!--/*@thymesVar id="typeContacts" type="java.util.List<org.esupportail.esupagape.entity.enums.TypeContact>"*/-->
    <!--/*@thymesVar id="personLdap" type="org.esupportail.esupagape.service.ldap.PersonLdap"*/-->
    <head th:replace="~{fragments/head :: head}"></head>
    <body>
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="d-inline-flex">
            <div th:replace="~{fragments/side :: side}"></div>
            <div class="agape-content agape-content-side">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{'/dossiers/' + ${currentDossier.id}}">Dossier <span th:text="${currentDossier.individu.firstName + ' ' + currentDossier.individu.name}"></span></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{'/dossiers/' + ${currentDossier.id} + '/entretiens'}" class="text-center ">Liste des entretiens</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><span th:text="'Entretien du ' + ${#temporals.format(entretien.date, 'dd/MM/yyyy HH:mm')}"></span></li>
                    </ol>
                </nav>
                <div class="float-buttons">
                    <button onclick="unlockForm(this);" ea-form-name="form-entretien" id="unlock-entretien" type="button" title="Déverouiller la modification" value="Modifier" class="btn btn-warning"><i class="fa-solid fa-pen"></i></button>
                    <button onclick="lockForm(this);" id="lock-entretien" type="button" title="Annuler la modification" value="Annuler" class="btn btn-danger d-none"><i class="fa-solid fa-xmark"></i></button>
                    <button title="Valider la modification" type="button" id="submit-entretien" class="btn btn-success d-none">
                        <i class="fa-solid fa-save"></i>
                    </button>
                </div>
                <div th:replace="~{fragments/tabs-years :: tabs-years}"></div>
                <div th:replace="~{fragments/tabs-content :: tabs-content(active='entretiens')}"></div>
                <div class="agape-tab-content bg-white p-3">
                    <h4><span th:text="'Entretien du ' + ${#temporals.format(entretien.date, 'dd/MM/yyyy HH:mm')}"></span></h4>
                    <hr>
                    <div class="row">
                        <div class="col-xl-12">
                            <form id="form-entretien"
                                    class="container"
                                    th:method="put"
                                    th:action="@{/dossiers/{id}/entretiens/{entretienId}/update(id=${currentDossier.id},entretienId=${entretien.id})}"
                                    th:object="${entretien}">
                                <input type="submit" class="d-none" id="check-entretien">
                                <div class="mb-3">
                                    <label th:for="date" class="form-label">Date de l’entretien</label>
                                    <input disabled id="date" type="datetime-local" class="form-control" th:name="date" th:value="${entretien.date}">
                                    <p th:if="${#fields.hasErrors('date')}" th:errorclass="error" th:errors="*{date}"></p>
                                </div>
                                <label th:for="${typeContact}" class="form-label">Type de contact</label>
                                <th:block th:each="typeContact : ${typeContacts}">
                                    <div class="form-check">
                                        <input disabled
                                                type="radio"
                                                class="form-check-input"
                                                th:id="${typeContact}"
                                                name="typeContact"
                                                th:value="${typeContact}"
                                                th:checked="${entretien.typeContact == typeContact}">
                                        <label class="form-check-label" th:for="${typeContact}" th:text="#{'entretien.typeContact.' +${typeContact}}"></label>
                                    </div>
                                </th:block>
                                <!-- <div class="mt-3">
                                    <label for="displayName" class="form-label">Interlocuteur</label>
                                    <input disabled type="text" class="form-control" id="displayName" th:value="${entretien.interlocuteur}" name="displayName">
                                </div>-->
                                <div class="mt-3">
                                    <div class="col-4" style="width: 250px;">
                                        <label class="form-label" for="interlocuteur">Interlocuteur</label>
                                    </div>
                                    <div class="mt-3">
                                        <textarea disabled
                                                id="interlocuteur"
                                                name="interlocuteur"
                                                class="form-control"
                                                th:text="${entretien.interlocuteur}"
                                                th:readonly="${entretien.interlocuteur != ''}"></textarea>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label for="compteRendu" class="form-label">Compte rendu</label>
                                    <textarea disabled class="form-control" id="compteRendu" th:field="*{compteRendu}" th:value="${entretien.compteRendu}" required></textarea>
                                    <p th:if="${#fields.hasErrors('compteRendu')}" th:errorclass="error" th:errors="*{compteRendu}"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: black}"></footer>
        <div th:replace="~{fragments/flash :: flash}"></div>
    </body>
</html>